body{
    font-family: Arial;
    color: white;
    background-color: #1F618D;
}

.sidenav {
  height: 60%;
  width: 160px;
  position: fixed;
  text-align: center;
  z-index: 1;
  top: 20%;
  background-color: rgb(44, 82, 136);
  padding-top: 80px;
  font-size:larger;
}

.content{
  margin-top: 15px;
  height: 85%;
  width: 85%;
  left: 200px;
  border-width: 15px;
  position:fixed;
  z-index:1;
  border: rgb(136, 136, 156);
  border-style: outset;
}



.button {
  background-color: #1f1530;
  border: none;
  color: rgb(184, 208, 235);
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  opacity: 0.6;
  transition: 0.3s;
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
  width: 300px;
  border-radius: 15%;
  margin: 10px;
  
}

.button-1{
  display: flex;
  justify-content: center;
  height: 200px;
  padding-top: 30px;
}

