body{
    font-family: Arial;
}

#div1 {
    width: 50%;
    padding: 20px;
    position: relative;
}
#div3 {
    width: 50%;
    padding: 20px;
    position: relative;
    
}

#div2{

    position: relative;
}
.lbl{
    padding: 5px 5px;
}