
#bar_container
{ }

.sidebar_left
{ width: 222px;
  height: 14px;
  color: rgb(20, 2, 41);
  background: transparent url("../images/bg7.jpg") no-repeat;}

.sidebar_right
{ width: 222px;
  height: 14px;
  background: url(side_base.png) no-repeat;}

.verticalbar
{ float: right;
  width: 222px;
  padding: 0;
  margin: 0 0 16px 0;}

.bar_item
{ background: url(side_back.png) repeat-y;
  padding: 0 15px;
  width: 192px;}
